.modifyInfo {
  position: relative;
  height: 100%;
}
.modifyListWrap {
  height: calc(100% - 94px);
}

.btn {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.text input {
  text-align: right;
}

.listItem > div:nth-of-type(1) > div:nth-of-type(2) {
  flex: 50%;
}
