.title {
  height: 80px;
  text-align: center;
  background: #fff;
}
.title span{
	display: inline-block;
	vertical-align: middle;
	line-height: 80px;
}
.stream {
  background: #fff;
}
.titleIcon{
	vertical-align:middle;
	width:30px;
	height: 30px;
	margin-left: 15px;
}