.streamDetailWrap {
  height: 100%;
}
.streamDetail {
  height: 100%;
  position: relative;
}

.streamVideo{
  position: relative;
  width: 100%;
  height: calc(100vw / 7 * 4);
}
.streamVideo img {
  display: block;
  width: 100%;
  height: 100%;
}

.btnWrap {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
}
.payBtn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tabWrap {
  height: calc(100% - (400vw / 7));
}
.tabItemWrap {
  height: calc(100vh - 87px - (400vw / 7));
}
