.testList{
	height: 100%;
}
.tabBarWrap{
	height: 80px;
}
.tabBar{
	width: 2000%;
	composes: clearfix from 'src/index.css';
	padding: 10px 0;
	box-sizing: border-box;
	background: #fff;
}
.tabBar div{
	float: left;
	font-size: 30px;
	background: #ddd;
	color: #999;
	width: 150px;
	text-align: center;
	height: 60px;
	line-height: 60px;
	border-radius: 30px 30px;
	margin: 0 10px;

}
.tabBar div.active{
	background: #33a9fc;
	color: #fff;
}
.listWrap{
	height: calc( 100% - 92px );
	overflow: hidden;
}
.list{
	
}