.myMeetList {
  height: 100%;
}
.myMeetList .tabItemWrap {
  height: calc(100vh - 87px);
  position: relative;
}
.List {
  composes: clearfix from 'src/index.css';
  background: #fff;
}
.List li {
  float: left;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}
.blank {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
