.DoubleCrane {
  width: 100%;
  height: 100%;
}
.DoubleCrane > img {
  width: 100%;
  height: 400px;
  display: block;
}
.warp {
  height: calc(100vh - 490px);
}
.sessionbox {
  background: #fff;
  padding: 10px 10px 40px;
}
.session h2 {
  font-size: 32px;
  line-height: 60px;
  font-weight: bold;
}
.session p {
  font-size: 28px;
  color: #999;
  line-height: 1.5;
}
.warp h4 {
  padding: 10px 20px;
  background: #fff;
  font-size: 32px;
  font-weight: bold;
  line-height: 60px;
  overflow: hidden;
}
.warp h4 i {
  float: left;
  width: 10px;
  height: 60px;
  background: #33a9fc;
  margin-right: 10px;
}
.rater_item_1 {
  padding: 20px;
}
.rater_item_1 li {
  background: #fff;
  padding: 20px;
}
.rater_item_1 li img {
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  border-radius: 50% 50%;
}
.rater_item_1 li p {
  text-align: center;
  font-size: 40px;
  line-height: 80px;
}
.rater_item_2 {
  overflow: hidden;
  margin-bottom: 20px;
}
.rater_item_2 li {
  width: 230px;
  background: #fff;
  float: left;
  list-style: none;
  margin-left: 15px;
  margin-top: 15px;
  padding: 20px;
  box-sizing: border-box;
}
.rater_item_2 li img {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50% 50%;
  margin: 0 auto;
}
.rater_item_2 li p {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
}
.rater_item_2 li div {
  font-size: 28px;
  color: #999;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 1.3;
}
.rater_item_3 {
  padding: 10px;
}
.rater_item_3 li {
  background: #fff;
  line-height: 60px;
  overflow: hidden;
}
.rater_item_3 li p {
  float: left;
  width: 180px;
  padding-left: 20px;
}
.rater_item_3 li span {
  float: left;
  width: 510px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.invite_code{
  background: #eee;
  border-radius: 5px;
  border-bottom: none;
}
.invite_code > div > div > div{
  text-align: center !important;
}
.invite_code input{
  text-align: center !important;
}
