.MeetStreamList {
  position: relative;
  height: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
}
.title {
  width: 100%;
  height: 80px;
  text-align: center;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #ccc;
}
.title span {
  display: inline-block;
  vertical-align: middle;
  line-height: 80px;
}
.recording {
  padding-top: 80px;
  background: #fff;
}
.titleIcon {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-left: 15px;
}
.List {
  composes: clearfix from 'src/index.css';
  background: #fff;
  padding-top: 80px;
}
.List li {
  float: left;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}
