.meetInfo {
  height: 100%;
}
.listTitle {
  display: block;
  font-weight: bold;
}
.listContent {
  display: block;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 24px;
}

.listIntroduction {
  display: block;
  white-space: normal;
  font-size: 24px;
}
.fontRed {
  color: #ff2654;
}
.fontBlue {
  color: #33a9fc;
}
