.mySeriesList {
  height: 100%;
}
.mySeriesList .tabItemWrap {
  height: calc(100vh - 87px);
  position: relative;
}
.blank {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
