.enter {
  position: fixed;
  z-index: 1000;
  right: 10px;
  bottom: 350px;
  text-align: center;
  opacity: 0.7;
}
.enter img {
  width: 80px;
}
.enter p {
  font-size: 28px;
  font-weight: bold;
  line-height: 2;
}
