.videoCollege {
  height: 100%;
}
.video {
  display: block;
  width: 100%;
}

.stream {
  background: #fff;
}

.title {
  display: block;
  height: 80px;
  font-size: 30px;
  line-height: 30px;
  padding: 25px 20px;
  box-sizing: border-box;
  composes: clearfix from 'src/index.css';
}
.title i {
  float: left;
  width: 4px;
  height: 30px;
  background-color: #33a9fc;
  margin-right: 20px;
}
.title p {
  float: left;
  color: #222;
}
.title span {
  float: right;
  color: #222;
}

.record {
  background-color: #fff;
}

.series {
  background-color: #fff;
}
