/* 清除浮动 */
:global(.clearfix) {
  zoom: 1;
}
:global(.clearfix:after) {
  content: '';
  display: block;
  clear: both;
}
:global(.my-error-display) {
  position: absolute;
  font-size: 20px;
  color: red;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
:global(.my-error-display img) {
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
