/* 清除浮动 */
:global(.clearfix ){
	 zoom: 1;
}
:global(.clearfix:after ){
	content: '';
	display: block;
	clear: both;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
