/* 清除浮动 */
:global(.clearfix) {
  zoom: 1;
}
:global(.clearfix:after) {
  content: '';
  display: block;
  clear: both;
}
:global(.my-error-display) {
  position: absolute;
  font-size: 20px;
  color: red;
  width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
:global(.my-error-display img) {
}
:global(.fontBlue) {
  color: #33a9fc !important;
}
:global(.fontOrange) {
  color: #fe8f06 !important;
}
:global(.fontRed) {
  color: #ff2654 !important;
}
:global(.votes .am-search) {
  background: #fff;
}
:global(.votes .am-search-input) {
  background: #eee;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
