.title {
  height: 88px;
  composes: clearfix from 'src/index.css';
  border-bottom: 1px solid #ddd;
}
.title span {
  float: left;
  font-size: 28px;
  line-height: 88px;
}

.title span:nth-of-type(1) {
  width: 170px;
  text-align: center;
  color: #888;
  font-weight: normal;
}

.icon {
  width: 40px;
  height: 40px;
  margin: 0 20px;
  vertical-align: middle;
  margin-top: -5px;
}
